<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>口腔癌</title>
	<link rel="stylesheet" href="/themes/medical.min.css" />
	<link rel="stylesheet" href="themes/jquery.mobile.icons.min.css" />
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile.structure-1.4.2.min.css" />
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
	<script src="/javascripts/test.js"></script>
</head>
<body>
	<div data-role="page" data-theme="a">
		<div data-role="header" data-position="inline">
			<h1>口腔癌</h1>
		</div>
		<div data-role="content" data-theme="a">
	<div id="c_b">
	<form>
    <fieldset data-role="controlgroup">
    	<legend>請選擇您有的習慣</legend>
        <input type="checkbox" name="checkbox-v-2a" id="checkbox-v-2a" value="c">
        <label for="checkbox-v-2a">抽菸</label>
        <input type="checkbox" name="checkbox-v-2b" id="checkbox-v-2b" value="a">
        <label for="checkbox-v-2b">喝酒</label>
        <input type="checkbox" name="checkbox-v-2c" id="checkbox-v-2c" value="b">
        <label for="checkbox-v-2c">嚼檳榔</label>
    </fieldset>
    <div id="div-slider" data-role="rangeslider" data-mini="true">
  		<label for="range-4a">年齡區間:</label>
  		<input name="range-4a" id="range-4a" min="20" max="100" value="0" type="range" />
 		<label for="range-4b">Rangeslider:</label>
  		<input name="range-4b" id="range-4b" min="20" max="100" value="100" type="range" />
    </div>
    </form>
			<label for="slider1">您罹患口腔癌的機率為：</label>
		
			<label id="result"for="slider1"></label>
	</div>
	</div>
</body>
</html>