body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

span {
	display:inline-block;
}

#result_CIR,#result_Life_Expentancy,#result_Life_Lost,#result_expenditure_3,#result_expenditure_5{
	font-size: 15px;
	color: orangered;
	font-weight: normal;
}
.Discount{
	font-size: 15px;
	color:cadetblue;
	font-weight: normal;
}
